.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #e6f0ff;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.logo-container {
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.logo {
  height: 40px;
  width: auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 0.5rem;
}

.nav-item:hover {
  background-color: rgba(0, 102, 204, 0.1);
}

.nav-item.active {
  background-color: #0066cc;
  color: white;
}

.nav-item svg {
  margin-right: 0.75rem;
}

.nav-item span {
  margin-left: 12px;
  font-size: 0.875rem;
}

@media (max-width: 1624px) {
  .sidebar {
    width: 200px;
    padding: 1rem;
  }

  .nav-item span {
    font-size: 0.8rem;
  }
  .logo {
    height: 30px;
    width: auto;
  }
}
